/*PUNYA SHUFI*/
/* label color */
.input-field label {
 color: #e0e0e0;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #4caf50;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #4caf50;
 box-shadow: 0 1px 0 0 #4caf50;
}

.brand-logo {
	margin-left: 20px;
}

nav.input-field label {
	left: 13rem;
}

img.img-icon {
	max-width: 40px;
	height: auto;
  margin-top: 35%;
}

img.img-icon-borrower {
  /*max-width: 70px;
  height: auto;*/
  width: 60px;
  height: 60px
}

img.img-logo {
	max-height: 25px;
	height: auto;
}

.custom-a {
	padding-top: 15%;
}

.dropdown-content-custom {
	margin-top: 55px;
	right: 500px;
	top: 500px;
	min-width: 143px;
	z-index: 1000;
	font-size: 14px;
}

.nav-container {
	padding: 0 1.5rem;
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
}

.side-nav {
	z-index: 1001;
}

.header_wrapper {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 997;
}

.secondary-header {
	background-color: #fff;
	padding: 16px 0;
	opacity: 1;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.secondary-header-inner {
	max-width: 1160px;
	position: relative;
	margin: 0 auto;
}

.secondary-header .secondary-header-inner>ul {
  margin: 0;
  padding: 0;
}

.secondary-header .secondary-header-inner>ul>li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}

.secondary-header .secondary-header-inner>ul>li>a {
  padding: 14px 30px;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  color: #000;
  margin-right: 0px;
  margin-left: 0px;
}

.secondary-header .secondary-header-inner>ul>li>a:hover, .secondary-header .secondary-header-inner>ul>li>a.active, .secondary-header .secondary-header-inner>ul>li>a:focus, .secondary-header .secondary-header-inner>ul>li>a.visited {
  text-decoration: none;
  border-bottom: 4px solid #4CAF50;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
  opacity: 1;
}

.avatar-property {
  border-style: solid;
  border-width: 5px;
  border-color: #4caf50;
  max-width: 100px;
  height: auto;
}

.custom-container-a {
  margin-top: 5px;
  margin-bottom: 5px;
}

.custom-container-b {
  padding: 1.5 1.5rem;
  margin: 0 auto;
  max-width: 500px;
  width: 90%
}

.custom-container-c{
  text-align: center;
}
.custom-container-d {
  padding: 1.5 1.5rem;
  margin: 0 auto;
  max-width: 1024px;
  width: 90%
}

.name-property {
  font-size: 1em;
  text-align: center;
}

td.basic-info{
  max-height: 30px;
}

.custom-margin-top {
  margin-top: 0px;
}

.custom-margin-bottom {
  margin-bottom: 0px;
}

.card-book-title {
  color: black;
  font-size: 1.2rem;
}

span.tag-property {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #26a69a;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  float: left;
  min-width: 3rem;
  padding: 0 6px;
  text-align: center;
  font-size: 0.8rem;
  line-height: inherit;
  color: #757575;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div span.tag-property {
  margin-left: 3px;
  margin-right: 0px;
  margin-top: 3px;
  margin-bottom: 0px;
}

.detail-info-book {
  font-size: 0.8em;
}

.row-custom-a {
  margin-bottom: 0px;
}

.row-custom-b {
  margin: 5px;
}

.row-custom-c {
  margin-top: 20px;
}

.book-property {
  max-height: 300px;
  width: auto;
}

.btn-flat.disabled:hover {
  color: #4caf50;
}

.card-book{
  height: 160px;
}

ul.ranking {
	margin-left: auto;
	margin-right: auto;
}

li.ranking-star {
	display: inline;
}

.upload-avatar-property {
  border-style: solid;
  border-width: 5px;
  border-color: #4caf50;
  max-width: 150px;
  height: auto;
}

.error {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #ef5350;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  float: left;
  min-width: 3rem;
  padding: 0 6px;
  text-align: center;
  font-size: 0.8rem;
  line-height: inherit;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 3px;
  margin-right: 5px;
  margin-top: 10%;
  margin-bottom: 0px;
}

.action-content {
  position: absolute;
  top: 8px;
  right: 1px;
}

.collection a.collection-item {
    display: block;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    transition: 0.25s;
    color: #4caf50; }

.collection .collection-item.active {
      background-color: #4caf50;
      color: #fff; }

.email-address {
  font-size: 0.95em;
}

.title-t {
  font-size: 1.9em;
}

a > .title-t {
  color: #4caf50;
}

.collection .collection-item.avatar .cover {
        position: absolute;
        width: 42px;
        /*height: 42px;*/
        overflow: hidden;
        left: 15px;
        display: inline-block;
        vertical-align: middle; }

.collection .collection-item.avatar .secondary-content-2 {
        position: absolute;
        top: 32px;
        right: 16px;
        margin-top: 15px; }

/*PUNYA KOES*/
.card-panel-custom-cp{
    max-width: 400px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.custom-btn{
    margin-top: 25px;
}

.custom-h5{
    text-align: center;
}

.custom-h6{
    text-align: center;
}

.custom-h6-login{
    text-align: right;
}

h6 a:hover{
    text-decoration: underline;
}

.card-panel-custom-reg{
    max-width: auto;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#next{
    margin-top: 40px;
}

#regbtn{
    margin-top: 40px;
}

/*
#gender{
	margin-top: 35px;
}

#status{
	margin-top: 35px;
}

#faculty{
	margin-top: 35px;
}*/

.custom-table{
  margin-top: 150px;
  margin-bottom: 50px;
}

.custom-table2{
  margin-top: 100px;
}

div.borrower{
  height: 80px;
  width: auto;
  margin-top: 10px;
}

div.custom-borrower{
  margin-top: -65px;
  margin-left: 80px;
}

h6.book-author{
  font-size: 0.8em;
}

h5.book-title{
  font-size: 1.2em;
}

/*span.badge-property { 
  width: 150px;
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #f44336;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  margin-top: 10px;
  margin-left: 50%;
  margin-right: 50%;
}*/

#cp-login{
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}



/*ELKA*/
.card-panel h5 {
  text-align: center;
  color: #4caf50;
}
.card-panel p {
  color: #4caf50;
  font-size: 15px;
  text-align: center;
}

.langkah{
  /*background-color: green;*/
  position: relative;
  height: 50px;
  width: 532px;
  margin: 30px auto;
}

.garis{
  text-align: center;
  z-index: 1;
  position: absolute;
  width: 420px;
  margin-top: 25px;
  margin-left: 40px;
  border-top: 4px solid #4caf50;
  
}

.steps{
  position: absolute;
  z-index: 2;
  margin: 0px auto;
}

.step {
  display: inline-block;
  margin: 0px 40px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 8px;
  background: #4caf50;
  border: 2px solid #4caf50;
  color: #fff;
  text-align: center;
  font: 26px Arial, sans-serif;
}

.aktip {
  background: #fff;
  border: 3px solid #4caf50;
  color: #4caf50;
}

.hide{
  display: none;
}

section{
  display: table;
  height: 600px;
  width: 100%;
}

.homeLatar{
  display: table-cell;  
  position: relative;
  margin-top: 0px;
}

.logoKububuku{
  float: left;
  margin: 15px;
}

img.home-logo{
  /*width: 800px;*/
  max-height: 30px;
  height: auto;
}

.homeNavbar{
  height: 60px;
}

.homeNavbar li{
  display: inline-block;
  margin: 0px 30px;
}
.homeNavbar li a{
  color: #fff;
  font-size: 20px
}

.logoBesar{
  text-align: center;
  margin-top: 170px;
}
.logoBesar img{  
  max-height: 100px;
  height: auto;
}

.homeCari{
  /*text-align: center;*/
  width: 510px;
  margin: 50px auto;  
}

.homeCari input{
  background-color: white !important;
  padding: 0px 10px;

/*  font-size: 18px;
  width: 400px;*/

  font-size: 20px;
  width: 600px;

}

.homeCari h5{
  color: #fff;
  font-weight: 500;
  font-size: 25px;
}
.homrCari button{
  padding: 10px 20px;
}

.makna{
  /*position: relative;*/
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
  font-size: 30px;
  color: #4caf50;
  text-align: center;
}

.makna p{
  margin: 0px;
  display: inline;
}
.makna p.besar{
  font-size: 45px;
  font-weight: 600;
}

.gabung{
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
  text-align: center;
}

.gabung p{
  color: #f9fbe7;
  font-size: 30px;
  margin: 50px 0px;
}

.gabung a{
  padding: 20px;
  color: #4caf50;  
  background-color: #f9fbe7;
  border-radius: 10px;
  font-size: 40px;
  font-weight: 500;
}

.langkah4 #cropimage{
  width: 500px;
}