/*PUNYA SHUFI*/
.brand-logo {
	margin-left: 20px;
}

nav .input-field label {
	left: 13rem;
}

img .img-icon {
	max-width: 40px;
	height: auto;
}

.custom-a {
	padding-top: 15%;
}

.dropdown-content-custom {
	margin-top: 55px;
	right: 500px;
	top: 500px;
	min-width: 120px;
	z-index: 1000;
	font-size: 14px;
}

.nav-container {
	padding: 0 1.5rem;
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
}

/*PUNYA KOES*/
.card-panel-custom-cp{
    max-width: 400px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.btn-custom-btn{
    margin-top: 30px;
}

.custom-h6{
    /*margin-top: 30px;*/
    text-align: center;
}

.custom-h5{
    text-align: center;
}

.custom-h6{
    text-align: center;
}

h6 a:hover{
    text-decoration: underline;
}