/*PUNYA SHUFI*/
.brand-logo {
	margin-left: 20px;
}

nav.input-field label {
	left: 13rem;
}

img.img-icon {
	max-width: 40px;
	height: auto;
  margin-top: 3px;
}

img.img-icon-borrower {
  max-width: 70px;
  height: auto;
}

img.img-logo {
	max-height: 25px;
	height: auto;
}

.custom-a {
	padding-top: 15%;
}

.dropdown-content-custom {
	margin-top: 55px;
	right: 500px;
	top: 500px;
	min-width: 120px;
	z-index: 1000;
	font-size: 14px;
}

.nav-container {
	padding: 0 1.5rem;
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
}

.side-nav {
	z-index: 1001;
}

.header_wrapper {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 997;
}

.secondary-header {
	background-color: #fff;
	padding: 16px 0;
	opacity: 1;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.secondary-header-inner {
	max-width: 1160px;
	position: relative;
	margin: 0 auto;
}

.secondary-header .secondary-header-inner>ul {
  margin: 0;
  padding: 0;
}

.secondary-header .secondary-header-inner>ul>li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}

.secondary-header .secondary-header-inner>ul>li>a {
  padding: 14px 30px;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  color: #000;
  margin-right: 0px;
  margin-left: 0px;
}

.secondary-header .secondary-header-inner>ul>li>a:hover, .secondary-header .secondary-header-inner>ul>li>a.active, .secondary-header .secondary-header-inner>ul>li>a:focus, .secondary-header .secondary-header-inner>ul>li>a.visited {
  text-decoration: none;
  border-bottom: 4px solid #4CAF50;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
  opacity: 1;
}

/*PUNYA KOES*/
.card-panel-custom-cp{
    max-width: 400px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.btn-custom-btn{
    margin-top: 30px;
}

.custom-h5{
    text-align: center;
}

.custom-h6{
    text-align: center;
}

.custom-h6-login{
    text-align: right;
}

h6 a:hover{
    text-decoration: underline;
}

.card-panel-custom-reg{
    max-width: auto;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#next{
    margin-top: 40px;
}

#regbtn{
    margin-top: 40px;
}

#gender{
	margin-top: 35px;
}

#status{
	margin-top: 35px;
}

#faculty{
	margin-top: 35px;
}

.custom-table{
  margin-top: 150px;
}

div.borrower{
  height: 80px;
  width: auto;
  margin-top: 10px;
}

div.custom-borrower{
  margin-top: -65px;
  margin-left: 80px;
}